.targetAudienceLabel {
	background-color: @formsLabelBackgroundDeepRed;
}
.problemStatementLabel {
	background-color: @formsLabelBackgroundDeepPurple;
}
.categoryLabel {
	background-color: @formsLabelBackgroundLightGreen;
}
.valuePropositionLabel {
	background-color: @formsLabelBackgroundLightBlue;
}
.competitiveDifferentiationLabel {
	background-color: @formsLabelBackgroundLightOrange;
}
.evidenceLabel {
	background-color: @formsLabelBackgroundMediumBlue;
}
.Positioning_StatementDiv .FormHeaderDIV .ContextHelpIcon {
  	margin-top: 2px;
	margin-left: 1em;
	position: static;
	vertical-align: top;
	background-image: data-uri('image/svg+xml;charset=UTF-8', '../art/help.svg');
}
