.FiveSecondLabel {
	background-color: @formsLabelBackgroundDeepRed;
}
.FifteenSecondLabel {
	background-color: @formsLabelBackgroundLightGreen;
}
.ThirtySecondLabel {
	background-color: @formsLabelBackgroundDeepPurple;
}
.Elevator_PitchDiv .FormHeaderDIV .ContextHelpIcon {
  	margin-top: 2px;
	margin-left: 1em;
	position: static;
	vertical-align: top;
	background-image: data-uri('image/svg+xml;charset=UTF-8', '../art/help.svg');
}
